on: push
name: 同步 GitHub 仓库至 Gitee
jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source codes
      uses: Yikun/hub-mirror-action@master
      with:
        src: github/Codennnn
        dst: gitee/chinesee
        dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
        dst_token:  ${{ secrets.GITEE_TOKEN }}
        static_list: 'portal'
        force_update: true
